[submodule "git/zsh-autosuggestions"]
	path = git/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "git/powerlevel10k"]
	path = git/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "git/zsh-syntax-highlighting"]
	path = git/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "git/powerlevel10k-media"]
	path = git/powerlevel10k-media
	url = https://github.com/romkatv/powerlevel10k-media.git
[submodule "git/yaru"]
	path = git/yaru
	url = https://github.com/ubuntu/yaru.git
